.add-pricing-container {
    width: 98%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid red; */
    background-color: #ff416b;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    padding: 2%;
    color: white;
}

.add-pricing-sub-container {
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 3px rgb(211, 187, 187);
    padding: 10px;
}

.add-pricing-inputs-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    /* border: 2px solid black; */
    padding: 10px;
    gap: 10px;

}

.add-pricing-input-div {
    width: 100%;
}

.add-pricing-input-div input {
    padding: 15px;
    width: 100%;
}

.add-pricing-input-div select {
    padding: 15px;
    width: 100%;
}

.peak-fare{
    /* margin-left: 1%; */
    padding-left: 15px;

}

.pricing-btn{
    width: 100%;
    padding: 10px;
    margin-inline: auto;
    /* background-color: red; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: red;
}
/* .submit-btn button{
    padding: 10px;
    text-align: center;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: rgb(48, 105, 62);
} */

.btns{
    display: flex;
    /* background-color: red; */
    padding: 1%;
}

.model-submit-btn button{
    background-color: green;
    color: white !important;
    font-weight: 600;

}
.model-cancel-btn button{
    color: white;
    background-color: red;
    font-weight: 600;
    /* padding: 2%; */
    
}
.add-pricing-single-input-container{
    /* background-color: red; */
    width: 100%;
}

.add-pricing-single-input-div{
    padding: 15px;
    width: 100%;
}
.add-pricing-single-input-div label{
    font-weight: 600;
    background-color: red;
}
.add-pricing-single-input-div input{
    width: 100%;
    padding: 1%;
}